.btn.btn-sm.bg-warning {
  color: red;
}

.img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 3px;
}

.nv-file-over {
  border: dotted 3px rgb(73, 73, 253);
}

input[type="file"] {
  color: transparent;
}
