
Northwind_Final/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
Northwind_Final/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
Northwind_Final/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
Northwind_Final/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.AssemblyReference.cache
Northwind_Final/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
Northwind_Final/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
Northwind_Final/WebAPI/bin/Debug/netcoreapp3.1/Business.pdb
Northwind_Final/WebAPI/bin/Debug/netcoreapp3.1/Business.dll
Northwind_Final/Business/obj/Debug/netcoreapp3.1/Business.pdb
Northwind_Final/Business/obj/Debug/netcoreapp3.1/Business.dll
Northwind_Final/Business/obj/Debug/netcoreapp3.1/Business.csproj.FileListAbsolute.txt
Northwind_Final/Business/obj/Debug/netcoreapp3.1/Business.csproj.CoreCompileInputs.cache
Northwind_Final/Business/obj/Debug/netcoreapp3.1/Business.csproj.AssemblyReference.cache
Northwind_Final/Business/bin/Debug/netcoreapp3.1/Business.pdb
Northwind_Final/Business/bin/Debug/netcoreapp3.1/Business.dll
