<div class="text-center mt-3">
  <h2>Your Matches: {{pagination?.totalItems}} found</h2>
</div>
<hr>
<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="false">

    <div class="form-group ">
      <label> Age Range</label>
      <input type="number" class="form-control ml-1 inputFilter" name="minAge" [(ngModel)]="userParams.minAge">
    </div>

    <div class="form-group px-2">
      <label> -----</label>
      <input type="number" class="form-control ml-1 inputFilter" name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>

    <div class="form-group px-2">
      <label class="me-4">Show</label>
      <select name="gender" class="form-control ml-1 customDropDown" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
    </div>

    <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-primary ml-1" type="submit">Reset Filters</button>
    <div class="col">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-primary" name="orderBy" [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()" btnRadio="lastActive">Last Active
        </button>

        <button type="button" class="btn btn-primary" name="created" [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()" btnRadio="created">Newest
        </button>
      </div>
    </div>


  </form>
</div>
<hr>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>
