<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Friendship App</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">User Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Wellcome {{user.userName}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()" autocomplete="off">
      <input name="UserName" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
        placeholder="username">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="Password"
        placeholder="password">
      <button class="btn btn-success my-2 my-sm-2" type="submit">Login</button>
    </form>
  </div>
</nav>
