<ng-container>
  <button class="btn btn-outline-primary mr-3" (click)="get500Error()">Error Code 500</button>
  <button class="btn btn-outline-primary mr-3" (click)="get400Error()">Error Code 400</button>
  <button class="btn btn-outline-primary mr-3" (click)="get401Error()">Error Code 401</button>
  <button class="btn btn-outline-primary mr-3" (click)="get404Error()">Error Code 404</button>
  <button class="btn btn-outline-primary mr-3" (click)="get400ValidationError()">Validation 400</button>

  <div class="row mt-5" *ngIf="validatinErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validatinErrors">{{error}} </li>
    </ul>
  </div>
</ng-container>
